.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: auto;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip .joseph-papa {
  width: 80%;

  p {
    max-width: 100%;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height: 40px;
}

//.content {
 // min-height: calc(100vh - 147px - 70px);
//}

.card-trip {
 overflow: hidden;
 background: white;
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
 width: auto;
 border-radius: 1%;
 height: 280px;
 margin-bottom: 20px;
 position: relative;

 a {
 position: absolute;
 top: 0;
 left: 0;
 right:0;
 bottom:0;
 z-index: 1;
 }
}

.card-trip > img {
 height: 200px;
 width: 100%;
 object-fit: cover;
}

.card-trip h2 {
 font-size: 16px;
 font-weight: bold;
 margin: 0;
}

.card-trip p {
 font-size: 12px;
 opacity: .7;
 margin: 0;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 width: 325px;
 overflow-wrap: break-word;
}


.card-trip .card-trip-infos {
 padding: 16px;
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
 position: relative;
}

.card-trip-infos .card-trip-user {
 position: absolute;
 right: 16px;
 top: -20px;
 width: 40px;
 border-radius: 50%;
}

.content {
 min-height: calc(100vh - 184px - 70px);
}

