h1 {
  color: red;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  color: #EF485E;
}

label {
  color: rgba(0, 0, 0, 0.7);
}

::placeholder {
  font-size: 15px;
  font-weight: lighter;
}

.btn {
  margin-top: 20px;
}

body {
  background-image: url(isle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: white;
}

