// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.content footer {
  min-height: calc(100vh - 70px - 121.6px);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
            }
