#footer {
  color: #F7F7F7;
  padding-top: 50px;
  align-self: flex-end;
  text-align: center;
}

.container {
  text-align: center;
  size: 30px;
  background-color: rgba(239, 88, 109, 0.7);
}

#copy {
  background-color: rgba(239, 88, 109, 0.9);
  a {
  text-decoration: none;
  color: #F7F7F7;
}
}

body {
  .container {
    font-size: 10px;
    width: auto;
    max-width: none;
  }
}

a:hover {
  color: #C2516C;
}
