.mapboxgl-popup {
  // max-width: 100px;
  // padding: 5px !important;
  // max-height: 50px;
}

.mapboxgl-popup-content {
  text-align: center;
  color: #EE485E;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px !important;
  min-width: 80px;
  // max-height: 100px;
  // padding: 5px !important;
}


